@model IEnumerable<gamejamtarts.Models.Question>
           
@{ ViewBag.Title = "About Us"; }

<style type="text/css">
    .question { font-weight: bold; }
</style>
<div class="row">
    <div class="span6">
        <h2>When?</h2>
        <ul>
            <li>From: Fri, 24 August 2012 - 17:00</li>
            <li>To: Sun, 26 August 2012 - 17:00</li>
        </ul>
        <br />
        <h2>Where?</h2>
        <p>
            Ground Floor, Digital Convent <br />
            Jorrison Street and Station Street <br />
            Braamfontein, <br />
            Gauteng. <br />
        </p>
        <br />
        @{ Html.RenderPartial("Map"); }
    </div>
    <div class="span6">
        <h2>Questions?</h2>
        <ul>
            @foreach (var question in Model)
            {
                <li>
                    <div class="question">@question.Text</div>
                    <div>@question.Answer</div><br />
                </li>
            } 
            
        </ul>
        <h2>Damn, I missed it..</h2>
        <p>Don't worry, we intend on having more. We will notify everyone on follow up events using as many channels as can be mustered</p>
        <p>Here's some places to keep and eye on:</p>
        <ul>
            <li><a href="http://groups.google.com/group/sagamedevelopercommunity">SA Game Dev Community Google Group</a></li>
            <li><a href="http://makegamessa.com/">Make Games SA</a></li>
        </ul>
        <br />
    </div>
</div>

