@model IEnumerable<gamejamtarts.Models.Game>
           
@{ ViewBag.Title = "Home Page"; }

<!-- Main hero unit for a primary marketing message or call to action -->
<div class="hero-unit">
    @{ Html.RenderPartial("MainBlurb");}
</div>

<!-- Example row of columns -->
<div class="row">
    @{ Html.RenderPartial("ThemeBlurb"); }
    @foreach (var game in Model)
    {
        <div class="span4">
            <h2>@game.Title</h2>
            <p>@MvcHtmlString.Create(game.ShortDescription)</p>
            <p><a class="btn" href="@Url.RouteUrl("Game", new {code = game.Code})">View details &raquo;</a></p>
        </div>
    }
</div>