@model IEnumerable<gamejamtarts.Models.Game>
           
@{ ViewBag.Title = "Home Page"; }

<!-- Main hero unit for a primary marketing message or call to action -->
<div class="hero-unit">
    <h1>Hey, you!</h1>
    <br />
    <p>Come experience the fun of a Game Jam. We’re even encouraging the creation of non-digital games, so those with no programming experience can still participate.</p>  
    <br />
    <p><a class="btn btn-large" href="@Url.Action("About")">Where /  when / how ? &raquo;</a></p>
</div>

<!-- Example row of columns -->
<div class="row">
    @{ Html.RenderPartial("ThemeBlurb"); }
    @foreach (var game in Model)
    {
        <div class="span4">
            <h2>@game.Title</h2>
            <p>@game.ShortDescription</p>
            <p><a class="btn" href="@Url.Action("Details", "Games", new {code = game.Code})">View details &raquo;</a></p>
        </div>
    }
</div>