<h1>Hey, you!</h1>

<h2>Come join us and make games!</h2>

<br />
<br />
<p>
    Come experience the fun of a Game Jam. We even encouraging the creation of non-digital
    games, so those with no programming experience can still participate.
</p>
<p>
    The jams are usually in the model of the incredible Global Game Jam, and encourage creative 
    thinking and allows for small but innovative and experimental games.  Collaboratively coding, 
    designing, illustrating, music-making, or whatever necessary, is a wonderful opportunity for 
    participants to expand their horizons, challenge themselves, and meet new people. Start 
    developing a playable game with strangers who share the same passion in just two days!
</p>
<br />
<p>
    <a class="btn btn-large" href="@Url.Action("About")">Where /  when / how ? &raquo;</a>
        &nbsp;
        &nbsp;
    <a class="btn btn-large" href="http://makegamessa.com" target="_blank">MakeGamesSA ! &raquo;</a>
</p>
