<h1>Hey, you!</h1>

<h2>Come join us and make a game at</h2>

@{ Html.RenderPartial("../Doodles/Amaze/Amaze");}
<br />
<br />
<p>
    Come experience the fun of a Game Jam. We’re even encouraging the creation of non-digital
    games, so those with no programming experience can still participate.
</p>
<p>
    The brief time span of 48 hours (in the model of the incredible Global Game Jam)
    encourages creative thinking and allows for small but innovative and experimental games. 
    Collaboratively coding, designing, illustrating, music-making, or whatever necessary, is a 
    wonderful opportunity for participants to expand their horizons, challenge themselves, and 
    meet new people. Start developing a playable game with strangers who share the same passion in just two days!
</p>
<br />
<p>
    <a class="btn btn-large" href="@Url.Action("About")">Where /  when / how ? &raquo;</a>
        &nbsp;
        &nbsp;
    <a class="btn btn-large" href="http://www.amaze-festival.de/interact-2012" target="_blank">More on A MAZE. / INTERACT ? &raquo;</a>
</p>
