<div class="span4">
    <h2>The Theme!</h2>
    <p>To offer inspiration for the jammers one image and one word theme were selected for the inaugural Jam-tart. The themes were selected from a list of 25 images and 50 words through a random number generator. (...) <img style="display: inline;" src="@Url.Content("~/Content/images/art_theme.png")" /></p>
    <p><a class="btn" href="@Url.Action("Theme", "Home")">More on the themes &raquo;</a></p>
</div>