<div class="span4">
    <h2>Amaze 2012 48H Jam</h2>
    <img src='@Url.Content("Content/images/jozi.png")' style="padding-left: 30px;"/>
    <p>
        The theme "Chop Shop" was provided by the performance artist and Wits Fine Arts lecturer Donna 
        Kukama.  She presented jammers with the "Jeppe Street Chop Shop Manifesto" and showed them 
        exerts of her performance work.  In this light 'chop shop' was taken to refer to the practice 
        remixing and recombining in creative ways. 
    </p>
    <p><a class="btn" href="@Url.Action("Theme", "Home")">More on the themes &raquo;</a></p>
</div>