@{
    ViewBag.Title = "Theme";
}

<h2>GRAVITY</h2>
<br />
<p>
    To offer inspiration for the jammers one image and one word theme were selected for the inaugural
    Jam-tart. The themes were selected from a list of 25 images and 50 words through a random
    number generator. The image shows two clasping hands painted as the earth, and the word selected
    was ‘gravity’. Participants were encouraged to take inspiration from both, although it was also
    permissible to use only one of the two to theme the game.
</p>
<p>
    The group brainstormed the two themes through a word association game, conceiving ideas ranging
    from ‘mercury’ to ‘teamwork’ or ‘Michael Jackson’ to ‘hand-to-hand combat’. With these brave and
    diverse themes and ideas the jammers broke into groups and set to the challenge.
</p>
 <p>
    The results can be explored on this site. Enjoy!
</p>
<br />
<img style="display: inline;" src="@Url.Content("~/Content/images/art_theme.png")" />