<div class="span4">
    <h2>The Theme!</h2>
    <img src='@Url.Content("Content/images/jozi.png")' />
    <p>The theme is being kept under wraps for the moment, and will be revealed at the jam. It has been decided on in conjuction with other artists and disciplines at A Maze, and will be related to Johannesburg.</p>
    <p><a class="btn" href="@Url.Action("Theme", "Home")">More on the themes &raquo;</a></p>
</div>