@{
    ViewBag.Title = "Theme";
}
<div class="row">
    <h2>AMAZE 2012 - 48H JAM</h2>
    <br />
    <h3>DATE: 24 - 26  August 2012</h3>
    <h3>THEME: THE CHOP SHOP MANIFESTO</h3>
    <br />
    <img src='@Url.Content("~/Content/images/amaze_mask.png")' style="padding-left: 30px;"/>
    <br />
    <br />
    <p>
        AMAZE/Interact 2012 in conjunction with Wits Digital Arts held a 48 hour Game Jam in the Games 
        Lab at Wits over the weekend of the 24th to the 26th of August. The theme "Chop Shop" was provided 
        by the performance artist and Wits Fine Arts lecturer Donna Kukama.  She presented jammers with the 
        "Jeppe Street Chop Shop Manifesto" and showed them exerts of her performance work.  In this light 
        'chop shop' was taken to refer to the practice remixing and recombining in creative ways. 
    </p>
    <p>
        A further challenge was that the theme was located in Johannesburg, asking jammers to think not only of 
        'chop shopping' as cultural practice, but to do so within a Joburg context.  This opened a range of 
        possibilities, to which the jammers gleefully responded.
    </p>
    <br />
    <a href='@Url.Content("~/Content/images/Jeppe_Street_Chop_Shoppers_Manifesto.pdf")'>The Jeppe Street Chop Shoppers Manifesto.</a>
    <br />
</div>
<br />
<br />
<div class="row">
    <h2>DAY ZERO - 24H JAM</h2>
    <br />
    <h3>DATE: 14 - 15  April 2012</h3>
    <h3>THEME: GRAVITY</h3>
    <br />
    <p>
        To offer inspiration for the jammers one image and one word theme were selected for the inaugural
        Jam-tart. The themes were selected from a list of 25 images and 50 words through a random
        number generator. The image shows two clasping hands painted as the earth, and the word selected
        was ‘gravity’. Participants were encouraged to take inspiration from both, although it was also
        permissible to use only one of the two to theme the game.
    </p>
    <p>
        The group brainstormed the two themes through a word association game, conceiving ideas ranging
        from ‘mercury’ to ‘teamwork’ or ‘Michael Jackson’ to ‘hand-to-hand combat’. With these brave and
        diverse themes and ideas the jammers broke into groups and set to the challenge.
    </p>
     <p>
        The results can be explored on this site. Enjoy!
    </p>
    <br />
    <img style="display: inline;" src="@Url.Content("~/Content/images/art_theme.png")" />
</div>