<div class="span4">
    <h2>The Theme!</h2>
    <p>An art and word theme were chosen at random, from a  list of 50 words and 25 images. <img style="display: inline;" src="@Url.Content("Content/images/art_theme.png")" /></p>
    <p><a class="btn" href="@Url.Action("Theme", "Home")">More on the themes &raquo;</a></p>
</div>