<?xml version="1.0" encoding="utf-8"?>
<!--

This file is used by the publish/package process of your Web project. You can customize the behavior of this process

by customizing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121.

-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>FTP</WebPublishMethod>
    <SiteUrlToLaunchAfterPublish>http://www.gamejam.co.za</SiteUrlToLaunchAfterPublish>
    <publishUrl>ftp://www.gamejam.co.za/gamejam.co.za/wwwroot</publishUrl>
    <DeleteExistingFiles>False</DeleteExistingFiles>
    <FtpPassiveMode>True</FtpPassiveMode>
    <UserName>gamejjoy</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
  <ItemGroup>
    <File Include="App_Data/Db.mdf">
      <publishTime>08/23/2012 15:34:20</publishTime>
    </File>
    <File Include="App_Data/Db_log.ldf">
      <publishTime>08/23/2012 15:34:20</publishTime>
    </File>
    <File Include="bin/EntityFramework.dll">
      <publishTime>08/22/2012 07:23:27</publishTime>
    </File>
    <File Include="bin/EntityFramework.xml">
      <publishTime>08/22/2012 07:23:27</publishTime>
    </File>
    <File Include="bin/gamejamtarts.dll">
      <publishTime>09/06/2012 18:31:53</publishTime>
    </File>
    <File Include="bin/gamejamtarts.pdb">
      <publishTime>05/12/2012 07:31:49</publishTime>
    </File>
    <File Include="bin/Microsoft.Web.Infrastructure.dll">
      <publishTime>03/29/2012 08:40:59</publishTime>
    </File>
    <File Include="bin/MongoDB.Bson.dll">
      <publishTime>04/20/2012 13:03:04</publishTime>
    </File>
    <File Include="bin/MongoDB.Bson.pdb">
      <publishTime>04/20/2012 13:03:04</publishTime>
    </File>
    <File Include="bin/MongoDB.Bson.xml">
      <publishTime>04/20/2012 13:03:04</publishTime>
    </File>
    <File Include="bin/MongoDB.Driver.dll">
      <publishTime>04/20/2012 13:03:04</publishTime>
    </File>
    <File Include="bin/MongoDB.Driver.pdb">
      <publishTime>04/20/2012 13:03:04</publishTime>
    </File>
    <File Include="bin/MongoDB.Driver.xml">
      <publishTime>04/20/2012 13:03:04</publishTime>
    </File>
    <File Include="bin/NuGet.Core.dll">
      <publishTime>03/29/2012 08:41:04</publishTime>
    </File>
    <File Include="bin/System.Web.Abstractions.dll">
      <publishTime>03/18/2010 19:31:26</publishTime>
    </File>
    <File Include="bin/System.Web.Helpers.dll">
      <publishTime>03/29/2012 08:41:03</publishTime>
    </File>
    <File Include="bin/System.Web.Mvc.dll">
      <publishTime>03/29/2012 08:41:04</publishTime>
    </File>
    <File Include="bin/System.Web.Providers.dll">
      <publishTime>03/29/2012 08:41:05</publishTime>
    </File>
    <File Include="bin/System.Web.Razor.dll">
      <publishTime>03/29/2012 08:41:02</publishTime>
    </File>
    <File Include="bin/System.Web.Routing.dll">
      <publishTime>03/18/2010 19:31:26</publishTime>
    </File>
    <File Include="bin/System.Web.WebPages.Administration.dll">
      <publishTime>03/29/2012 08:41:04</publishTime>
    </File>
    <File Include="bin/System.Web.WebPages.Deployment.dll">
      <publishTime>03/29/2012 08:41:03</publishTime>
    </File>
    <File Include="bin/System.Web.WebPages.dll">
      <publishTime>03/29/2012 08:41:03</publishTime>
    </File>
    <File Include="bin/System.Web.WebPages.Razor.dll">
      <publishTime>03/29/2012 08:41:03</publishTime>
    </File>
    <File Include="Content/bootstrap-responsive.css">
      <publishTime>03/29/2012 08:43:20</publishTime>
    </File>
    <File Include="Content/bootstrap-responsive.min.css">
      <publishTime>03/29/2012 08:43:20</publishTime>
    </File>
    <File Include="Content/bootstrap.css">
      <publishTime>08/20/2012 15:43:43</publishTime>
    </File>
    <File Include="Content/bootstrap.min.css">
      <publishTime>04/10/2012 15:52:58</publishTime>
    </File>
    <File Include="Content/images/amaze_mask.png">
      <publishTime>08/20/2012 15:45:33</publishTime>
    </File>
    <File Include="Content/images/art_theme.png">
      <publishTime>04/14/2012 18:18:07</publishTime>
    </File>
    <File Include="Content/images/Digital_Arts_logo_on_black.png">
      <publishTime>09/06/2012 17:53:07</publishTime>
    </File>
    <File Include="Content/images/glyphicons-halflings-white.png">
      <publishTime>03/29/2012 08:43:20</publishTime>
    </File>
    <File Include="Content/images/glyphicons-halflings.png">
      <publishTime>03/29/2012 08:43:20</publishTime>
    </File>
    <File Include="Content/images/Jeppe_Street_Chop_Shoppers_Manifesto.pdf">
      <publishTime>09/06/2012 17:38:48</publishTime>
    </File>
    <File Include="Content/images/jozi.png">
      <publishTime>08/26/2012 19:50:31</publishTime>
    </File>
    <File Include="Content/images/MakeGamesSA_logo.png">
      <publishTime>09/06/2012 18:34:10</publishTime>
    </File>
    <File Include="Content/images/Player.png">
      <publishTime>08/24/2012 12:47:37</publishTime>
    </File>
    <File Include="Content/images/ReConstitutionHill/Fighting_1.PNG">
      <publishTime>08/26/2012 20:58:30</publishTime>
    </File>
    <File Include="Content/images/ReConstitutionHill/Intro.PNG">
      <publishTime>08/26/2012 20:58:30</publishTime>
    </File>
    <File Include="Content/images/ReConstitutionHill/Moving_1.PNG">
      <publishTime>08/26/2012 20:58:30</publishTime>
    </File>
    <File Include="Content/images/ReConstitutionHill/Upgrade.PNG">
      <publishTime>08/26/2012 20:58:30</publishTime>
    </File>
    <File Include="Content/images/Wits_White_Vector_Logo_Ver_2.png">
      <publishTime>09/06/2012 17:52:15</publishTime>
    </File>
    <File Include="Content/Site.css">
      <publishTime>03/29/2012 11:39:41</publishTime>
    </File>
    <File Include="Content/themes/base/images/ui-bg_flat_0_aaaaaa_40x100.png">
      <publishTime>03/29/2012 08:41:10</publishTime>
    </File>
    <File Include="Content/themes/base/images/ui-bg_flat_75_ffffff_40x100.png">
      <publishTime>03/29/2012 08:41:10</publishTime>
    </File>
    <File Include="Content/themes/base/images/ui-bg_glass_55_fbf9ee_1x400.png">
      <publishTime>03/29/2012 08:41:10</publishTime>
    </File>
    <File Include="Content/themes/base/images/ui-bg_glass_65_ffffff_1x400.png">
      <publishTime>03/29/2012 08:41:10</publishTime>
    </File>
    <File Include="Content/themes/base/images/ui-bg_glass_75_dadada_1x400.png">
      <publishTime>03/29/2012 08:41:10</publishTime>
    </File>
    <File Include="Content/themes/base/images/ui-bg_glass_75_e6e6e6_1x400.png">
      <publishTime>03/29/2012 08:41:10</publishTime>
    </File>
    <File Include="Content/themes/base/images/ui-bg_glass_95_fef1ec_1x400.png">
      <publishTime>03/29/2012 08:41:10</publishTime>
    </File>
    <File Include="Content/themes/base/images/ui-bg_highlight-soft_75_cccccc_1x100.png">
      <publishTime>03/29/2012 08:41:10</publishTime>
    </File>
    <File Include="Content/themes/base/images/ui-icons_222222_256x240.png">
      <publishTime>03/29/2012 08:41:10</publishTime>
    </File>
    <File Include="Content/themes/base/images/ui-icons_2e83ff_256x240.png">
      <publishTime>03/29/2012 08:41:10</publishTime>
    </File>
    <File Include="Content/themes/base/images/ui-icons_454545_256x240.png">
      <publishTime>03/29/2012 08:41:10</publishTime>
    </File>
    <File Include="Content/themes/base/images/ui-icons_888888_256x240.png">
      <publishTime>03/29/2012 08:41:10</publishTime>
    </File>
    <File Include="Content/themes/base/images/ui-icons_cd0a0a_256x240.png">
      <publishTime>03/29/2012 08:41:10</publishTime>
    </File>
    <File Include="Content/themes/base/jquery.ui.accordion.css">
      <publishTime>03/29/2012 08:41:10</publishTime>
    </File>
    <File Include="Content/themes/base/jquery.ui.all.css">
      <publishTime>03/29/2012 08:41:10</publishTime>
    </File>
    <File Include="Content/themes/base/jquery.ui.autocomplete.css">
      <publishTime>03/29/2012 08:41:10</publishTime>
    </File>
    <File Include="Content/themes/base/jquery.ui.base.css">
      <publishTime>03/29/2012 08:41:10</publishTime>
    </File>
    <File Include="Content/themes/base/jquery.ui.button.css">
      <publishTime>03/29/2012 08:41:10</publishTime>
    </File>
    <File Include="Content/themes/base/jquery.ui.core.css">
      <publishTime>03/29/2012 08:41:10</publishTime>
    </File>
    <File Include="Content/themes/base/jquery.ui.datepicker.css">
      <publishTime>03/29/2012 08:41:10</publishTime>
    </File>
    <File Include="Content/themes/base/jquery.ui.dialog.css">
      <publishTime>03/29/2012 08:41:10</publishTime>
    </File>
    <File Include="Content/themes/base/jquery.ui.progressbar.css">
      <publishTime>03/29/2012 08:41:10</publishTime>
    </File>
    <File Include="Content/themes/base/jquery.ui.resizable.css">
      <publishTime>03/29/2012 08:41:10</publishTime>
    </File>
    <File Include="Content/themes/base/jquery.ui.selectable.css">
      <publishTime>03/29/2012 08:41:10</publishTime>
    </File>
    <File Include="Content/themes/base/jquery.ui.slider.css">
      <publishTime>03/29/2012 08:41:10</publishTime>
    </File>
    <File Include="Content/themes/base/jquery.ui.tabs.css">
      <publishTime>03/29/2012 08:41:09</publishTime>
    </File>
    <File Include="Content/themes/base/jquery.ui.theme.css">
      <publishTime>03/29/2012 08:41:06</publishTime>
    </File>
    <File Include="Global.asax">
      <publishTime>03/29/2012 08:40:54</publishTime>
    </File>
    <File Include="packages.config">
      <publishTime>08/22/2012 07:23:28</publishTime>
    </File>
    <File Include="Scripts/bootstrap.js">
      <publishTime>03/29/2012 08:43:20</publishTime>
    </File>
    <File Include="Scripts/bootstrap.min.js">
      <publishTime>03/29/2012 08:43:20</publishTime>
    </File>
    <File Include="Scripts/Doodles/Amaze/Block.js">
      <publishTime>08/24/2012 12:47:37</publishTime>
    </File>
    <File Include="Scripts/Doodles/Amaze/Box.js">
      <publishTime>08/24/2012 12:47:37</publishTime>
    </File>
    <File Include="Scripts/Doodles/Amaze/Player.js">
      <publishTime>08/24/2012 12:47:37</publishTime>
    </File>
    <File Include="Scripts/Doodles/Amaze/Pulse.js">
      <publishTime>08/24/2012 12:47:37</publishTime>
    </File>
    <File Include="Scripts/Doodles/Amaze/Scene.js">
      <publishTime>08/24/2012 12:48:39</publishTime>
    </File>
    <File Include="Scripts/easeljs-0.4.2.min.js">
      <publishTime>08/17/2012 22:01:43</publishTime>
    </File>
    <File Include="Scripts/jquery-1.6.2-vsdoc.js">
      <publishTime>03/29/2012 08:41:06</publishTime>
    </File>
    <File Include="Scripts/jquery-1.6.2.js">
      <publishTime>03/29/2012 08:41:06</publishTime>
    </File>
    <File Include="Scripts/jquery-1.6.2.min.js">
      <publishTime>03/29/2012 08:41:06</publishTime>
    </File>
    <File Include="Scripts/jquery-ui-1.8.11.js">
      <publishTime>03/29/2012 08:41:06</publishTime>
    </File>
    <File Include="Scripts/jquery-ui-1.8.11.min.js">
      <publishTime>03/29/2012 08:41:06</publishTime>
    </File>
    <File Include="Scripts/jquery.unobtrusive-ajax.js">
      <publishTime>03/29/2012 08:40:54</publishTime>
    </File>
    <File Include="Scripts/jquery.unobtrusive-ajax.min.js">
      <publishTime>03/29/2012 08:40:54</publishTime>
    </File>
    <File Include="Scripts/jquery.validate-vsdoc.js">
      <publishTime>03/29/2012 08:41:06</publishTime>
    </File>
    <File Include="Scripts/jquery.validate.js">
      <publishTime>03/29/2012 08:41:06</publishTime>
    </File>
    <File Include="Scripts/jquery.validate.min.js">
      <publishTime>03/29/2012 08:41:06</publishTime>
    </File>
    <File Include="Scripts/jquery.validate.unobtrusive.js">
      <publishTime>03/29/2012 08:40:54</publishTime>
    </File>
    <File Include="Scripts/jquery.validate.unobtrusive.min.js">
      <publishTime>03/29/2012 08:40:54</publishTime>
    </File>
    <File Include="Scripts/MicrosoftAjax.debug.js">
      <publishTime>03/29/2012 08:40:54</publishTime>
    </File>
    <File Include="Scripts/MicrosoftAjax.js">
      <publishTime>03/29/2012 08:40:54</publishTime>
    </File>
    <File Include="Scripts/MicrosoftMvcAjax.debug.js">
      <publishTime>03/29/2012 08:40:54</publishTime>
    </File>
    <File Include="Scripts/MicrosoftMvcAjax.js">
      <publishTime>03/29/2012 08:40:54</publishTime>
    </File>
    <File Include="Scripts/MicrosoftMvcValidation.debug.js">
      <publishTime>03/29/2012 08:40:54</publishTime>
    </File>
    <File Include="Scripts/MicrosoftMvcValidation.js">
      <publishTime>03/29/2012 08:40:54</publishTime>
    </File>
    <File Include="Scripts/modernizr-2.0.6-development-only.js">
      <publishTime>03/29/2012 08:41:12</publishTime>
    </File>
    <File Include="Views/Account/ChangePassword.cshtml">
      <publishTime>03/29/2012 08:40:54</publishTime>
    </File>
    <File Include="Views/Account/ChangePasswordSuccess.cshtml">
      <publishTime>03/29/2012 08:40:54</publishTime>
    </File>
    <File Include="Views/Account/LogOn.cshtml">
      <publishTime>03/29/2012 08:40:54</publishTime>
    </File>
    <File Include="Views/Account/Register.cshtml">
      <publishTime>03/29/2012 08:40:54</publishTime>
    </File>
    <File Include="Views/Doodles/Amaze.cshtml">
      <publishTime>08/22/2012 07:29:43</publishTime>
    </File>
    <File Include="Views/Doodles/Amaze/Amaze.cshtml">
      <publishTime>08/24/2012 12:47:37</publishTime>
    </File>
    <File Include="Views/Games/Details.cshtml">
      <publishTime>08/27/2012 06:30:35</publishTime>
    </File>
    <File Include="Views/Games/Disqus.cshtml">
      <publishTime>04/14/2012 19:36:55</publishTime>
    </File>
    <File Include="Views/Games/Index.cshtml">
      <publishTime>09/06/2012 18:31:07</publishTime>
    </File>
    <File Include="Views/Home/About.cshtml">
      <publishTime>09/06/2012 18:05:34</publishTime>
    </File>
    <File Include="Views/Home/Index.cshtml">
      <publishTime>09/06/2012 18:28:21</publishTime>
    </File>
    <File Include="Views/Home/MainBlurb.cshtml">
      <publishTime>09/06/2012 18:13:20</publishTime>
    </File>
    <File Include="Views/Home/Map.cshtml">
      <publishTime>03/29/2012 12:58:31</publishTime>
    </File>
    <File Include="Views/Home/Theme.cshtml">
      <publishTime>09/06/2012 17:40:07</publishTime>
    </File>
    <File Include="Views/Home/ThemeBlurb.cshtml">
      <publishTime>09/06/2012 17:43:26</publishTime>
    </File>
    <File Include="Views/Shared/Error.cshtml">
      <publishTime>03/29/2012 08:40:54</publishTime>
    </File>
    <File Include="Views/Shared/_Layout.cshtml">
      <publishTime>09/06/2012 18:34:18</publishTime>
    </File>
    <File Include="Views/Shared/_LogOnPartial.cshtml">
      <publishTime>04/14/2012 18:46:54</publishTime>
    </File>
    <File Include="Views/Web.config">
      <publishTime>03/29/2012 08:40:54</publishTime>
    </File>
    <File Include="Views/_ViewStart.cshtml">
      <publishTime>04/14/2012 19:29:26</publishTime>
    </File>
    <File Include="Web.config">
      <publishTime>08/26/2012 20:45:23</publishTime>
    </File>
  </ItemGroup>
</Project>